/*
CIS192 - Final Project - Form Page

Author:         Stephen Chang
Date:           5/31/2021

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    background-color: #dddddd;
}

body {
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
}

p {
    margin-bottom: 15px;
}

h1 {
    font-size: 2em;
}

.form {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5;
}

.form-title {
    font-size: 3em;
    font-weight: 700;
}

/* use flex box to avoid having to create breaks */
.form-item {
    display: flex;
    flex-direction: column;
}

/* helps to align the width of the content */
.form-item > * {
    align-self: flex-start;
}

.form-item-checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.form-item-checkbox > * {
    align-self: flex-start;
    padding: 0 10px;
}

input[type=checkbox] {
    transform: scale(1.2);
}

.form-label {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px 0;
}

.form-input {
    /*-webkit-appearance: none;  /* remove default css styling on ios/safari */
    width: 100%;
    max-width: 425px;

    /* Fix for Safari/iOS date fields */
    /* adds a minimum height */
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);

    padding: 0.8em;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;

    outline: none; /* removes default blue outline on mobile devices */
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form-input:focus {
    background: #ffffff;
}

.form-input::placeholder {
    color: #bbbbbb;
}

.form-input:invalid {
    color: #d50000;
    border-color: #d50000;
    box-shadow: 0px 0px 2px #d50000;
}

.form-input-error {
    color: #d50000;
    background: #fff8f8;
    border-color: #d50000;
}

.form-input-error::placeholder {
    color: #ffbfbf;
}

.form-error {
    padding-top: 10px;
    color: #d50000;
    font-size: 0.9em;
    visibility: hidden
}

.form-input-error + .form-error {
    visibility: visible;
}

.form-input-small {
    max-width: 250px;
}

textarea.form-input {
    resize: none;
    min-height: 200px;
}

.form-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;
    color: #ffffff;
    background: #14b64a;
    border: 2px solid #0fa942;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.form-button:active {
    background: #0fa942;
}

@media only screen and (max-width: 600px) {
    .form-description {
        display: none
    }
    .form-input {
        font-size: 1.5rem;
    }
    .form-title {
        font-size: 2rem;
        margin: 20px 0;
    }
    .form-label {
        font-size: 1.6rem;
    }
    .form-item-checkbox {
        margin-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;

    }
    input[type=checkbox] {
        margin-left: 50px;
        transform: scale(2.5);
    }
    .checkbox-label {
        margin-top: 20px;
        margin-left: 35px;
        margin-bottom: 20px;
        font-size: 1.8rem;
        flex-wrap: wrap;
        ;
    }
    .form-button {
        font-size: 2.5rem;
    }
}